<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        <link rel="stylesheet" type="text/css" href="styles/application.css" />
    </head>
    <body>
        <h1>Hello World!</h1>
        <p>Tähän jotain: {{title}}</p>
    </body>
</html>
